#luffy>img{
    
    width: 90px;
    height: 120px;
    transform: rotate(90deg);
    text-align: center
}
#ma{
    text-align: center;
}
#pa{
    text-align: center;
}
#po{
    text-align: center;
}
#ro{
    text-align: center;
}
#na{
    text-align: center;
}
#la{
    text-align: center;
}
#lo{
    text-align: center;
}
#ri{
    text-align: center;
}
#luffy{
    text-align: center;
}
#pro{
    text-align: center;
}
#mo{
    text-align: center;
}